<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis Auth</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
</head>
<body>

  <nav class="navbar is-dark">
    <div class="container">
      <div class="navbar-brand">
        <a href="/" class="navbar-item">UlulAlbab</a>

        <button class="button navbar-burger">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
      <div class="navbar-menu">
        <div class="navbar-end">
          @loggedIn
            <div class="navbar-item has-dropdown is-hoverable">
              <a href="#" class="navbar-link">
                {{ auth.user.username }}
              </a>
              <div class="navbar-dropdown">
                <a href="/logout" class="navbar-item">Logout</a>
              </div>
            </div>
          @else
            <a href="/login" class="navbar-item">Login</a>
            <a href="/register" class="navbar-item">Register</a>
          @endloggedIn
        </div>
      </div>
    </div>
  </nav>

  <div class="section">
    <div class="container">
      @!section('contain')
    </div>
  </div>

</body>
</html>
