<p>Hi {{ username }}</p>

<p>
  Welcome to ululalbab, plase confirm your email adress by clicking below link:
</p>

<p>
  <a href="{{ appUrl('register/confirm/' + confirmation_token) }}">comfrime emial address</a>
</p>
